---
import Layout from '../../layouts/Layout.astro';
import UsefulPrompt from '../../components/UsefulPrompt.astro'
---

<Layout title="ChatGPT Useful Prompts">
	<main class="flex flex-col gap-12">
		<h1 class="font-bold text-yellow-500 text-4xl text-center">ChatGPT Useful Prompts</h1>
        <div class="flex flex-col gap-4">
            <UsefulPrompt text="<object>は何を意味しますか？" />
            <UsefulPrompt text="<object>とは" />
        </div>
	</main>
</Layout>
